# ignore junk
__pycache__/
.venv/
.idea/
.vscode/
temp/
reports/
*.mp4
*.zip
ChromaNet_v3_complete/chromanet_v3/data/train2017/
ChromaNet_v3_complete/chromanet_v3/checkpoints/
checkpoints/
ChromaNet_v3_complete/chromanet_v3/previews/
ChromaNet_v3_complete/chromanet_v3/training.log
training.log
ChromaNet_v3_complete/chromanet_v3/training_*.log
/Videos
